<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Home Page</h1>
   <form action="/login" method="post">
        <div class="container">
              <label><b>Username</b></label>
              <input type="text" placeholder="Enter Username" name="uname" required>

              <br>

              <label><b>Password</b></label>
              <input type="text" placeholder="Enter Password" name="psw" required>

              <button type="submit">Login</button>
        </div>
    </form>

   <form action="/new_account" method="get">
        <div class="container" style="background-color:#f1f1f1">
            <button>Create new account</button>
        </div>
    </form>
</body>
</html>
